body {
  background-image: url(images/background.png);
  background-repeat: repeat;
}

.appTitle {
  font-family: 'Acme', sans-serif;
  color: wheat;
}

.appContainer {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}

.map {
  text-align: center;
}

.map-container {
  text-align: center;
}

.selector {
  width: 40vw;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  margin-bottom: 20px;
}

.toggle {
  width: 10vw;
  height: 3vh;
  font-size: 16px;
}

.legend {
  display: flex;
  color: white;
  font-family: 'Arial';
}
.zoom-controls {
  width: 70px;
  height: 70px;
  font-size: 36px;
}
.height-control {
  width: 750px;
  height: 70px;
  font-size: 36px;
}
.map-and-controls {
  
}

h5 {
  color: wheat;
}