body {
  background-image: url(images/background.png);
  background-repeat: repeat;
}

.appTitle {
  font-family: 'Acme', sans-serif;
  color: wheat;
}

.appContainer {
  margin: 0 auto;
  max-width: 900px;
}

.map {
  margin: 0 auto;
  /* max-width: 900px; */
  /* width: 80vh;
  height: 80vh; */
}

.selector {
  width: 40vw;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  margin-bottom: 20px;
}

.legend {
  display: flex;
  color: white;
  font-family: 'Arial';
}
