body {
  background-image: url(images/background.png);
  background-repeat: repeat;
}

.appTitle {
  color: wheat;
}

.appContainer {
  margin: 0 auto;
  max-width: 900px;
}

/* .map {
  margin: 0 auto;
  max-width: 900px;
  width: '80vh';
  height: '80vh';
} */